* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*------------------header---------------*/
header{
    height: 100px;
    text-align: center;
    position: relative;
}
header img{
    height: 100%;
    width: 100%;
}


/*------------------main---------------*/

main{
    display: flex;
    text-align: center;
}
.child1{
background-color: rgba(223, 238, 223, 0.986);
padding: 10px;
margin: 10px;
color: rgb(17, 15, 15);
width: 550px;
font-size: 25px;
}
.child2{
background-color: whitesmoke;
padding: 10px;
margin: 10px;
font-family: cursive;
width: 950px;
}
p{
    padding: 20px;
    text-align: justify;
    width: 880px;
    margin: auto;
}

.pchild1{
    padding: 20px;
    text-align: justify;
    width: 500px;
    margin: auto;
    
}
article{
    text-align: justify;
    width: 880px;
    margin: auto;
}

.taille{
    width: 500px;
}
.deco{
    text-decoration: none;
    background-color:rgb(103, 160, 103) ;
    border-radius: 5px;
    font-size: 40px;
    color: white;
}

/*------------------footer---------------*/
footer{
        display: flex;
        background-color: rgb(44, 36, 36);
        height: 100px;
        font-size: 25px;
        justify-content: center;
        align-items: center;
    }
    